<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.site_name }}</title>
    <link rel="stylesheet" href="{{ base_url }}/css/custom.css">
    {% block extrahead %}{% endblock %}
    <style>
        /* .custom-header{
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        } */
    </style>
</head>
<body>
    {% include "partials/header.html" %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.html" %}
</body>
</html>
