<style>
.custom-header {
  display: flex;
  /* align-items: center; */
  align-items: left;
  background-color: white; 
  padding: 10px;
  padding-right: 0;
  font-family: 'Poppins', sans-serif; 
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  /* justify-content: space-between; */
  float: 'left';
}

.logo {
  box-shadow: none; 
}

.logo-image {
  height: 40px; 
  width: auto; 
  box-shadow: none;
}

.custom-nav {
  flex: 1; 
  display: flex;
  /* justify-content: left;  */
  float: 'left';
  align-items: center;
}

.custom-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px; 
}

.custom-nav li {
  margin-left: 20px;
}

.custom-nav a {
  color: black;
  text-decoration: none;
  font-weight: normal; /* Default font weight to normal */
}

.custom-nav a:hover {
  text-decoration: underline;
}

.buttons {
  display: flex;
  margin: -10px;

  /* justify-content: center;
  align-items: center; */
}

.start-trial, .schedule-demo {
  padding: 8px 16px;
  padding-top: 22px;
  text-decoration: none;
  color: white;
  float: 'right';
  box-sizing: border-box;
}



.start-trial {
  background-color: #f3e5ff; /* Light purple color */
  color: #000; /* Black text */
  float: 'right';
}

.schedule-demo {
  background-color: #ff7a7a; /* Light red color */
  color: #000; /* Black text */
  float: 'right';
}

/* Hamburger menu */
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

/* Slide menu */
.slide-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hide the menu */
  width: 250px;
  height: 100%;
  background-color: #111;
  padding-top: 60px;
  z-index: 1000;
  overflow-x: hidden;
  transition: left 0.3s; /* Add transition for smooth sliding */
  font-size: 14px;
}

.menu-heading {
  color: #fff;
  padding: 10px 20px;
}

.slide-menu ul {
  list-style-type: none;
  padding: 0;
}

.slide-menu ul li {
  padding: 10px 20px;
  text-align: left;
}

.slide-menu ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.slide-menu ul li:hover {
  background-color: #ffffff;
  color: #AC8AE7;
}

.slide-menu ul li:hover,
.slide-menu ul li.selected {
  color: #AC8AE7;
}

.slide-menu ul li a {
  color: inherit; /* Inherit color from the list item */
  text-decoration: none;
  display: block;
}

/* Media query for slide menu on smaller screens */
@media (max-width: 1200px) {
  .menu-toggle {
    display: block;
  }
}

/* Adjust content area when slide menu is open */
.slide-menu.open {
  left: 0;
}


</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<div class="custom-header">
  <div class="menu-toggle" id="menu-toggle">☰</div>
  <div class="logo">
    <img src="{{ base_url }}/images/Purple Data white 3 1.svg" alt="Logo" class="logo-image">
  </div>
  <nav class="custom-nav">
    <ul>
      <li><a href="https://www.purpledatainc.com/">HOME</a></li>
      <li><a href="https://www.purpledatainc.com/">FEATURES</a></li>
      <li><a href="https://www.purpledatainc.com/about-us">COMPANY</a></li>
      <li><a href="https://www.purpledatainc.com/technology-partners">TECHNOLOGY PARTNERS</a></li>
      <li><a href="https://www.purpledatainc.com/solutions">SOLUTIONS</a></li>
      <li><a href="https://www.purpledatainc.com/">SUBSCRIPTIONS</a></li>
      <li><a href="https://www.purpledatainc.com/blog">BLOG</a></li>
      <li><a href="#">USER GUIDE</a></li>
    </ul>
  </nav>
  <div class="buttons">
    <a href="https://yogecreative.wixstudio.io/puurpledata/blank-7" class="start-trial">START TRIAL</a>
    <a href="https://yogecreative.wixstudio.io/puurpledata" class="schedule-demo">SCHEDULE DEMO</a>
  </div>
</div>
<div id="slide-menu" class="slide-menu">
  <h2 class="menu-heading">Table of Contents</h2>
  <ul>
    {% for item in nav %}
    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var menuToggle = document.getElementById("menu-toggle");
  var slideMenu = document.getElementById("slide-menu");

  menuToggle.addEventListener("click", function(e) {
    e.stopPropagation(); // Prevent the click event from bubbling up
    slideMenu.classList.toggle("open");
  });

  // Close the slide menu when clicking outside of it
  document.addEventListener("click", function(e) {
    var target = e.target;
    var isMenuOpen = slideMenu.classList.contains("open");
    var isClickInsideMenu = slideMenu.contains(target);
    var isClickInsideMenuToggle = menuToggle.contains(target);

    if (isMenuOpen && !isClickInsideMenu && !isClickInsideMenuToggle) {
      slideMenu.classList.remove("open");
    }
  });

  // Close the slide menu when an item is selected
  slideMenu.querySelectorAll("a").forEach(function(item) {
    item.addEventListener("click", function() {
      slideMenu.classList.remove("open");
    });
  });
});
</script>
