<style>
  .custom-header {
    display: flex;
    align-items: center;
    background-color: #000000; /* Adjust as needed */
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
  }

  .logo {
    flex: 1;
    margin-right: auto; /* Push the logo to the left */
  }

  .logo-image {
    height: 40px; /* Adjust as needed */
    width: 100px;
  }

  .custom-nav {
    flex: 3;
    text-align: right;
  }

  .custom-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Spread menu items with equal gaps */
  }

  .custom-nav li {
    margin-left: 20px; /* Adjust spacing between menu items */
  }

  .custom-nav a {
    color: white;
    text-decoration: none; 
    font-weight: bold;
  }

  .custom-nav a:hover {
    text-decoration: underline;
  }

  .demo-button {
    background-color: #774EBE; /* Purple color */
    color: white;
    padding: 8px 16px;
    border-radius: 20px; /* Rounded edges */
    text-decoration: none;
  }
</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<div class="custom-header">
    <div class="logo">
      <img src="{{ base_url }}/images/logo.jpeg" alt="Logo" class="logo-image">
    </div>
    <nav class="custom-nav">
      <ul>
        <li><a href="https://www.purpledatainc.com/">Home</a></li>
        <li><a href="https://www.purpledatainc.com/">Features</a></li>
        <li><a href="https://www.purpledatainc.com/about-us">Company</a></li>
        <li><a href="https://www.purpledatainc.com/technology-partners">Technology Partners</a></li>
        <li><a href="https://www.purpledatainc.com/solutions">Solutions</a></li>
        <li><a href="https://www.purpledatainc.com/">Subscriptions</a></li>
        <li><a href="https://www.purpledatainc.com/blog">Blog</a></li>
        <li><a href="#">User Guide</a></li>
        <li><a href="https://www.purpledatainc.com/" class="demo-button">Try Demo</a></li> <!-- "Try Demo" button -->
      </ul>
    </nav>
  </div>
