<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.site_name }}</title>
    <link rel="stylesheet" href="{{ base_url }}/css/custom.css">
    {% block extrahead %}{% endblock %}
</head>
<body>
    {% include "partials/header.html" %}
    <main>
        {% block content %}{% endblock %}
        <!-- <h1>checking from base</h1> -->
    </main>
    {% include "partials/footer.html" %}
</body>
</html>
<script src="{{ base_url }}/js/custom.js"></script>