:root {
  /* --md-primary-fg-color:        #EE0F0F; */
  --md-primary-fg-color:        #6F44A6;
  --md-primary-fg-color--light: #AC8AE7;
  /* --md-primary-fg-color--dark:  #90030C; */
}

/* .md-main__inner {
  margin-top: 0px  ;
} */

/* reduce font size */


/* Styling for the navigation menu */
.md-nav--primary .md-nav__list {
    background-color: #363636;
     /* Background color for the menu section */
    border-right: 2px solid #ddd; 
    /* Border on the right side of the menu section */
    padding-left: 0px;
    z-index: -10;
  }
  
  /* Styling for the menu items */
  .md-nav--primary .md-nav__list a {
    padding: 10px 20px; 
    display: block; 
    text-decoration: none; 
  }
  
  /* Highlight effect on hover */
  .md-nav--primary .md-nav__list a:hover{
    width: 106%;
    background-color: #6f6f6f; 
    margin-left: -12px;
  }

  .md-nav--primary .md-nav__list a:active,
  .md-nav--primary .md-nav__list a:focus,
  .md-nav--primary .md-nav__list a.selected 
    {
        width: 106% ;
        background-color: #a6a6a6 ; 
        margin-left: -12px;
        font-weight: bold;
    }

  .md-nav--primary .main-heading {
    display: none; 
}

.md-nav--secondary .md-nav__list a:hover,
.md-nav--secondary .md-nav__list a:active {
    font-size: calc(1em + 0.1pt);
    font-weight: bold;

}

.md-nav--secondary .md-nav__list ul{
  list-style-type: disc; /* Add bullets */
}

.md-nav--secondary .md-nav__list ul ul{
  list-style-type: disc; /* Add bullets */
}

/* to reduce boldness size */
strong {
  font-weight: lighter; /* Adjust the font-weight as needed */
  color: var(--md-primary-fg-color--light); 
}

/* reduce boldness of h4 */
h4 {
  font-weight: 500; /* Adjust the font-weight as needed */
  /* color: var(--md-primary-fg-color--light); */
}

/* hiding footer */
.md-footer-meta__inner.md-grid {
  display: none;
}

/* reduce primary menu padding */
/* @media screen and (min-width: 76.25em) {
  [dir=ltr] .md-nav--primary .md-nav__list {
      padding-left: 0;
  }
} */

@media screen and (min-width: 76.25em) {
  [dir=ltr] .md-nav--primary .md-nav__item>.md-nav__link {
      margin-right: 1px;
  }
}

.md-nav--secondary .md-nav {
  /* Adjust the margin-right value as needed to move the secondary menu items to the right */
  margin-left: 15px;
}

/* shadows for the images */
img {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* reduce icon size in main page */
.md-content i {
  font-size: 0.75em; /* Adjust the size as needed */
}



/* header */
.custom-header {
  display: flex;
  align-items: center;
  background-color: #6F44A6; /* Adjust as needed */
  padding: 10px 20px;
}

.logo {
  flex: 1;
}

.logo-image {
  height: 40px; /* Adjust as needed */
}

.custom-nav {
  flex: 3;
  text-align: right;
}

.custom-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.custom-nav li {
  margin-left: 20px;
}

.custom-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.custom-nav a:hover {
  text-decoration: underline;
}
